{{#each section}}
	<div class="category">
		<h1>{{id}}</h1>
		<div class="items">
		{{#each item}}
			<div class="item" id="{{id}}">
				<a href="{{url}}">
					<img src="{{image}}" alt="{{id}}" />
					<h2>{{title}}</h2>
				</a>
			</div>
		{{/each item}}
		</div>
	</div>
{{/each section}}
