.category {
	padding: 10px;

	&:not(:first-child) {
		@include leader();
	}

	h1 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.item {
		@include inline-block;
		@include leader();
		padding-left: 10px;
		padding-right: 10px;
		max-width: 20%;
		vertical-align: top;

		img {
			max-width: 100%;
		}
	}
}
